// Source: https://github.com/mneofit/multiselect

.multiselect-wrapper {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.4rem;
  font-family: "Poppins", Verdana, Helvetica, sans-serif;
  font-weight: normal;

  .multiselect-input {
    width: 90%;
    padding-right: 20px;
    margin: auto;
  }

  label {
    display: block;
    font-size: 1.4rem;
    font-weight: normal;
  }

  .multiselect-list {
    z-index: 1;
    position: absolute;
    display: none;
    background-color: #f3f3ff;
    border: 1px solid grey;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: calc(-27rem + 2px);
    padding: .5rem;
    min-width: 20rem;

    &.active {
      display: block;
    }

    & > span {
      font-weight: normal;
    }

    & > hr {
      border: 1px solid grey;
      margin: 2px 0 4px 0;
    }

    .multiselect-checkbox {
      margin-right: 5px;
    }

    & > span,
    & li {
      cursor: default;
    }
  }

  ul {
    list-style: none;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;

    li {
      padding-right: 20px;
      display: block;

      &.active {
        background-color: hsl(0, 0%, 75%);
        color: white;
      }

      &:hover {
        background-color: hsl(0, 0%, 75%);
        color: white;
      }
    }
  }
}

#pronoun_itemList {
  margin-top: calc(-23rem + 2px);
}


.multiselect-input-div {
  height: 34px;

  input {
    border: 1px solid #ababab;
    background: #fff;
    margin: 5px 0 5px 0;
    padding: 5px;
    vertical-align: middle;
  }
}


.multiselect-count {
  position: relative;
  text-align: center;
  border-radius: 2px;
  background-color: lightblue;
  display: inline-block !important;
  padding: 2px 7px;
  left: -45px;
}

.multiselect-wrapper.disabled .multiselect-dropdown-arrow {
  border-top: 5px solid lightgray;
}

.multiselect-wrapper.disabled .multiselect-count {
  background-color: lightgray;
}

.multiselect-dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  line-height: 20px;
  text-align: center;
  display: inline-block !important;
  margin-top: 17px;
  margin-left: -42px;
}

@media only screen and(max-width: 768px) {
  .multiselect-wrapper {
    width: 99%;
    margin: .5rem 0;
    padding: .2rem .5rem;
    font-size: 1.4rem;

    .multiselect-input {
      width: 100%;
    }

    .multiselect-list {
      width: 90%;
    }
  }
}