// Responsive navbar source: https://codepen.io/AleksandrHovhannisyan/pen/WNQzawO

$navbar-height: 6rem;
$navbar-bg-color: #171515;
$navbar-text-color: #f3f3ff;

main {
  padding-top: $navbar-height;
}

#navbar {
  position: fixed;
  width: 100%;
  height: $navbar-height;
  background-color: $navbar-bg-color;
  left: 0;
  right: 0;
  span {
    color: #fc5185;
  }
}

.navbar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.home-link,
.navbar-link {
  color: $navbar-text-color;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out,
  color 0.2s ease-in-out;
}

.logo-text {
  font-size: 3rem;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
  opacity: 0.7;
}

.navbar-logo {
  background-color: $navbar-text-color;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out,
  transform 0.2s ease-in-out,
  opacity 0.2s ease-in-out;
  background-color: $navbar-text-color;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: $navbar-text-color;
}


#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  transition: opacity 0.2s ease-in-out,
  visibility 0.2s ease-in-out,
  left 0.2s ease-in-out,
  right 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.navbar-menu.attached {
  left: 0;
  right: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: $navbar-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}

.attached .navbar-links {
  left: 0;
  right: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

@media screen and (min-width: 550px) {
  main {
    padding-top: 0;
  }

  #navbar {
    position: static;
  }

  .navbar-container {
    width: 85%;
  }

  .navbar-toggle {
    display: none;
  }

  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }

  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
}