.lds-container {
  display: none;
  flex-flow: row;
  align-items: center;
  padding-left: 1rem;

  .lds-text {
    font-size: 1.4rem;
    text-align: center;
  }


  .lds-ring {
    display: block;
    z-index: 999;
    overflow: visible;
    margin: auto;
    height: 4rem;
    width: 4rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 3rem;
      height: 3rem;
      margin: 4px;
      border: 4px solid #333333;
      border-radius: 100%;
      animation: lds-ring 1.2s linear infinite;
      border-left: 4px solid rgba(51, 51, 51,.15);
      border-right:4px solid rgba(51, 51, 51,.15);
      border-bottom:4px solid rgba(51, 51, 51,.15);
      border-top:4px solid rgba(51, 51, 51,.8);
    }
  }
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}