@import 'navbar';
@import 'spinner';
@import 'multiselect';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

$dark-accent: #171515;
$pink-accent: #fc5185;
$white-bg: #f3f3ff;
$text-light: #f3f3ff;
$text-dark: #333333;
$border-color: #333333;


html {
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #CECED3; //#2f2f2f;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

p, label {
  font-size: 1.6rem;
  font-weight: normal;
  color: $text-dark;
}

li {
  font-size: 2rem;
}

a {
  text-decoration: none;
}


.btn {
  grid-area: btn;
  border: 1px solid $border-color;
  border-radius: 3px;
  font-size: 1.6rem;
  padding: .7rem 2rem;
  color: $text-dark;
  background-color: $white-bg;

  &:hover {
    color: $text-light;
    background-color: $dark-accent;
  }
}

.generator {
  display: flex;
  height: 100%;
  padding: 7rem 0;
  justify-content: center;
  align-items: center;
  background: url("https://i.imgur.com/knCYQda.jpg") no-repeat fixed;
  background-size: cover;
}

.grid-wrapper {
  background-color: #d4d4d4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px -10px 10px rgba(0, 0, 0, 0.05);
  width: 55%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: .1fr minmax(0, 1.5fr) minmax(1.5fr, 1.5fr) .1fr minmax(0, 1.5fr) minmax(1.5fr, 1.5fr);
  grid-template-areas:
          "in-title"
          "l-textbox"
          "l-modifiers"
          "out-title"
          "r-textbox"
          "r-modifiers";
}

.in-title {
  grid-area: in-title;
}

.out-title {
  grid-area: out-title;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px 0 0 0;
}

.in-title,
.out-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #aeaeae;
}

.l-textbox,
.r-textbox {
  height: 37rem;
}

.l-textbox {
  grid-area: l-textbox;
}

.textbox {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $white-bg;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px 0 1px 0;
  padding: 2rem;
  min-height: 30rem;
  height: 100%;
  font-size: 1.6rem;
  line-height: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;

  &:focus {
    outline: none;
  }
}

.marked {
  color: $pink-accent;
}

#input-form-error,
#output-form-error {
  display: block;
  font-size: 1.4rem;
  align-self: center;
  color: #da0001;
  margin: 0 1rem;
}


.l-modifiers {
  height: 40rem;
  grid-area: l-modifiers;
  display: grid;
  padding: 2rem 3rem 3rem 3rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr .5fr;
  grid-row-gap: 1rem;
  grid-template-areas:
          "title-container desc-container"
          "age-container level-container"
          "pos-container pos-container"
          "btn-container .";

  input[type="radio"], input[type="checkbox"] {
    margin-right: .5rem;
  }

  input[type="text"] {
    background: $white-bg;
    border: 1px solid $border-color;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &:focus {
      outline: none;
    }
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .required {
    color: #ff0000;
  }

  .title-container {
    grid-area: title-container;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
  }

  .desc-container {
    grid-area: desc-container;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
  }

  .text-input {
    padding: 0 1rem;
    font-size: 1.6rem;
    line-height: 3rem;
  }

  .age-container {
    grid-area: age-container;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

    .age-selection {
      display: flex;
      flex-flow: row wrap;
      width: 70%;
      justify-content: space-between;
    }
  }

  .level-container {
    grid-area: level-container;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .level-selection-young,
    .level-selection-adult {
      display: none;
    }

    .level-selection-adult.active,
    .level-selection-young.active {
      width: 80%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .pos-container {
    grid-area: pos-container;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;

    .pos-row {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;

      .pos-dropdown {
        width: 30%;
        border: 1px solid $border-color;
        padding: .2rem 1rem;
        font-size: 1.6rem;
        background-color: $white-bg;

        &:focus {
          outline: none;
        }

        &:required:invalid {
          color: rgba(51, 51, 51, .5);
        }

        option {
          color: $text-dark;
        }
      }
    }
  }

  .btn-container {
    display: flex;
    flex-flow: row;
    justify-content: start;
  }

  #create-btn {
    background-color: #20d78d;

    &:hover {
      background-color: $dark-accent;
    }
  }
}

.r-modifiers {
  grid-area: r-modifiers;
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;

    #add-range-btn {
      background-color: #76e3e5;
    }

    #add-range-btn:hover {
      background-color: $dark-accent;
    }

    h1 {
      margin: 0;
    }

    .scale-title {
      color: $text-dark;
      margin-bottom: 1rem;
    }

    .feedback-table-container {
      margin-top: 1rem;

      .feedback-table {
        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
        table-layout: fixed;

        tbody {
          width: 100%;
        }

        .feedback-row {
          width: 100%;
          background-color: #b7b7b7;
          border: 1px solid rgba(51, 51, 51, .5);
          border-radius: .3rem;
          min-height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;

          td {
            text-align: center;
            padding: 0 .5rem;
            height: 100%;
          }

          .range-from {
            width: 5%;
            min-width: 6rem;
            padding-left: 1rem;
          }

          .dash {
            width: 5%;
            min-width: 1rem;
          }

          .range-to {
            width: 10%;
            min-width: 7rem;
          }

          .range-label {
            width: 70%;
          }

          .remove-range {
            width: 5%;
            min-width: 5rem;
            padding-right: 1rem;
          }


          input[type="number"], input[type="text"] {
            padding: 0 1rem;
            line-height: 3rem;
            background-color: $white-bg;
            border: 1px solid rgba(51, 51, 51, 0.5);
            color: $text-dark;

            &:focus {
              outline: none;
            }
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type=number] {
            -moz-appearance: textfield;
          }

          .range-num-input {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 100%;
          }

          .range-label-input {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            width: 100%;
          }

          .remove-range-btn {
            cursor: pointer;
            border: none;
            background-color: $text-dark;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .icon-bar:first-child,
            .icon-bar:last-child {
              position: absolute;
              margin: 0;
              width: 2rem;
              background-color: $text-light;
              border: none;
            }

            .icon-bar:first-child {
              transform: rotate(45deg);
            }

            .icon-bar:last-child {
              transform: rotate(-45deg);
            }
          }

          .remove-range-btn:hover {
            background-color: $text-light;
            border: .2rem solid $border-color;

            .icon-bar:first-child,
            .icon-bar:last-child {
              background-color: $text-dark;
            }
          }
        }

        .feedback-row.error-container {
          height: 7rem;

          td {
            margin-top: 1rem;
          }

          .error {
            font-size: 1.2rem;
            color: #da0001;
            width: 40rem;
            margin-top: 1rem;
            position: relative;
            text-align: left;
          }
        }
      }

    }
    .btn-container {
      align-self: flex-start;
    }
  }

  .btn-container {
    display: flex;
    align-self: flex-end;
  }

  #publish-btn {
    background-color: #F0A538;

    &:hover {
      background-color: $dark-accent;
    }

    align-self: flex-end;
  }
}

.about {
  min-height: 100vh;
  background-color: #434343;
}

footer {
  background-color: $dark-accent;
  color: $text-light;
  width: 100%;
  height: 5vh;
  font-size: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1600px) {
  .grid-wrapper {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .l-textbox {
    border: 0;
  }

  .generator {
    height: 100%;
    padding: 0;
  }

  .grid-wrapper {
    width: 100%;
    height: 100%;
  }

  .textbox {
    padding: 1rem 1rem;
    max-height: 50rem;
  }

}

@media only screen and (max-width: 768px) {
  p, label {
    font-size: 1.4rem;
  }

  .l-textbox,
  .r-textbox {
    height: 100%;
  }

  .l-modifiers {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    grid-area: l-modifiers;
    display: grid;
    padding: 1rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr .5fr;
    grid-row-gap: 1rem;
    grid-template-areas:
          "title-container"
          "desc-container"
          "age-container"
          "level-container"
          "pos-container"
          "btn-container";

    .text-input {
      font-size: 1.4rem;
    }

    .title {
      font-size: 1.6rem;
    }

    .title-container {
      width: 100%;
    }

    .desc-container {
      width: 100%;
    }

    .age-container {
      .age-selection {
        width: 80%;
      }
    }

    .level-container {
      .level-selection-adult.active,
      .level-selection-young.active {
        width: 80%;
      }
    }

    .pos-container {
      width: 100%;

      .pos-row {
        flex-flow: row wrap;
      }
    }
  }
  .r-modifiers {
    padding: 1rem;

    .feedback-row.error-container {
      .error {
        margin-left: -5rem;
      }
    }
  }
}