@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
main {
  padding-top: 6rem;
}

#navbar {
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: #171515;
  left: 0;
  right: 0;
}
#navbar span {
  color: #fc5185;
}

.navbar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.home-link,
.navbar-link {
  color: #f3f3ff;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.logo-text {
  font-size: 3rem;
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
  opacity: 0.7;
}

.navbar-logo {
  background-color: #f3f3ff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  background-color: #f3f3ff;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: #f3f3ff;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  transform: rotate(-45deg);
}

.navbar-menu {
  position: fixed;
  top: 6rem;
  bottom: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.navbar-menu.attached {
  left: 0;
  right: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #171515;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}

.attached .navbar-links {
  left: 0;
  right: 0;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

@media screen and (min-width: 550px) {
  main {
    padding-top: 0;
  }

  #navbar {
    position: static;
  }

  .navbar-container {
    width: 85%;
  }

  .navbar-toggle {
    display: none;
  }

  #navbar .navbar-menu,
#navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  #navbar .navbar-links,
#navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    list-style-type: none;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }

  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
}
.lds-container {
  display: none;
  flex-flow: row;
  align-items: center;
  padding-left: 1rem;
}
.lds-container .lds-text {
  font-size: 1.4rem;
  text-align: center;
}
.lds-container .lds-ring {
  display: block;
  z-index: 999;
  overflow: visible;
  margin: auto;
  height: 4rem;
  width: 4rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.lds-container .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 3rem;
  height: 3rem;
  margin: 4px;
  border: 4px solid #333333;
  border-radius: 100%;
  animation: lds-ring 1.2s linear infinite;
  border-left: 4px solid rgba(51, 51, 51, 0.15);
  border-right: 4px solid rgba(51, 51, 51, 0.15);
  border-bottom: 4px solid rgba(51, 51, 51, 0.15);
  border-top: 4px solid rgba(51, 51, 51, 0.8);
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.multiselect-wrapper {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.4rem;
  font-family: "Poppins", Verdana, Helvetica, sans-serif;
  font-weight: normal;
}
.multiselect-wrapper .multiselect-input {
  width: 90%;
  padding-right: 20px;
  margin: auto;
}
.multiselect-wrapper label {
  display: block;
  font-size: 1.4rem;
  font-weight: normal;
}
.multiselect-wrapper .multiselect-list {
  z-index: 1;
  position: absolute;
  display: none;
  background-color: #f3f3ff;
  border: 1px solid grey;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: calc(-27rem + 2px);
  padding: 0.5rem;
  min-width: 20rem;
}
.multiselect-wrapper .multiselect-list.active {
  display: block;
}
.multiselect-wrapper .multiselect-list > span {
  font-weight: normal;
}
.multiselect-wrapper .multiselect-list > hr {
  border: 1px solid grey;
  margin: 2px 0 4px 0;
}
.multiselect-wrapper .multiselect-list .multiselect-checkbox {
  margin-right: 5px;
}
.multiselect-wrapper .multiselect-list > span, .multiselect-wrapper .multiselect-list li {
  cursor: default;
}
.multiselect-wrapper ul {
  list-style: none;
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.multiselect-wrapper ul li {
  padding-right: 20px;
  display: block;
}
.multiselect-wrapper ul li.active {
  background-color: #bfbfbf;
  color: white;
}
.multiselect-wrapper ul li:hover {
  background-color: #bfbfbf;
  color: white;
}

#pronoun_itemList {
  margin-top: calc(-23rem + 2px);
}

.multiselect-input-div {
  height: 34px;
}
.multiselect-input-div input {
  border: 1px solid #ababab;
  background: #fff;
  margin: 5px 0 5px 0;
  padding: 5px;
  vertical-align: middle;
}

.multiselect-count {
  position: relative;
  text-align: center;
  border-radius: 2px;
  background-color: lightblue;
  display: inline-block !important;
  padding: 2px 7px;
  left: -45px;
}

.multiselect-wrapper.disabled .multiselect-dropdown-arrow {
  border-top: 5px solid lightgray;
}

.multiselect-wrapper.disabled .multiselect-count {
  background-color: lightgray;
}

.multiselect-dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  line-height: 20px;
  text-align: center;
  display: inline-block !important;
  margin-top: 17px;
  margin-left: -42px;
}

@media only screen and (max-width: 768px) {
  .multiselect-wrapper {
    width: 99%;
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
    font-size: 1.4rem;
  }
  .multiselect-wrapper .multiselect-input {
    width: 100%;
  }
  .multiselect-wrapper .multiselect-list {
    width: 90%;
  }
}
html {
  font-size: 62.5%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #CECED3;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: normal;
}

p, label {
  font-size: 1.6rem;
  font-weight: normal;
  color: #333333;
}

li {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.btn {
  grid-area: btn;
  border: 1px solid #333333;
  border-radius: 3px;
  font-size: 1.6rem;
  padding: 0.7rem 2rem;
  color: #333333;
  background-color: #f3f3ff;
}
.btn:hover {
  color: #f3f3ff;
  background-color: #171515;
}

.generator {
  display: flex;
  height: 100%;
  padding: 7rem 0;
  justify-content: center;
  align-items: center;
  background: url("https://i.imgur.com/knCYQda.jpg") no-repeat fixed;
  background-size: cover;
}

.grid-wrapper {
  background-color: #d4d4d4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px -10px 10px rgba(0, 0, 0, 0.05);
  width: 55%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 0.1fr minmax(0, 1.5fr) minmax(1.5fr, 1.5fr) 0.1fr minmax(0, 1.5fr) minmax(1.5fr, 1.5fr);
  grid-template-areas: "in-title" "l-textbox" "l-modifiers" "out-title" "r-textbox" "r-modifiers";
}

.in-title {
  grid-area: in-title;
}

.out-title {
  grid-area: out-title;
  border-style: solid;
  border-color: #333333;
  border-width: 1px 0 0 0;
}

.in-title,
.out-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #aeaeae;
}

.l-textbox,
.r-textbox {
  height: 37rem;
}

.l-textbox {
  grid-area: l-textbox;
}

.textbox {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f3f3ff;
  border-style: solid;
  border-color: #333333;
  border-width: 1px 0 1px 0;
  padding: 2rem;
  min-height: 30rem;
  height: 100%;
  font-size: 1.6rem;
  line-height: 2rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: auto;
}
.textbox:focus {
  outline: none;
}

.marked {
  color: #fc5185;
}

#input-form-error,
#output-form-error {
  display: block;
  font-size: 1.4rem;
  align-self: center;
  color: #da0001;
  margin: 0 1rem;
}

.l-modifiers {
  height: 40rem;
  grid-area: l-modifiers;
  display: grid;
  padding: 2rem 3rem 3rem 3rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  grid-row-gap: 1rem;
  grid-template-areas: "title-container desc-container" "age-container level-container" "pos-container pos-container" "btn-container .";
}
.l-modifiers input[type=radio], .l-modifiers input[type=checkbox] {
  margin-right: 0.5rem;
}
.l-modifiers input[type=text] {
  background: #f3f3ff;
  border: 1px solid #333333;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.l-modifiers input[type=text]:focus {
  outline: none;
}
.l-modifiers .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.l-modifiers .required {
  color: #ff0000;
}
.l-modifiers .title-container {
  grid-area: title-container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}
.l-modifiers .desc-container {
  grid-area: desc-container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
}
.l-modifiers .text-input {
  padding: 0 1rem;
  font-size: 1.6rem;
  line-height: 3rem;
}
.l-modifiers .age-container {
  grid-area: age-container;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
.l-modifiers .age-container .age-selection {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  justify-content: space-between;
}
.l-modifiers .level-container {
  grid-area: level-container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.l-modifiers .level-container .level-selection-young,
.l-modifiers .level-container .level-selection-adult {
  display: none;
}
.l-modifiers .level-container .level-selection-adult.active,
.l-modifiers .level-container .level-selection-young.active {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.l-modifiers .pos-container {
  grid-area: pos-container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
}
.l-modifiers .pos-container .pos-row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.l-modifiers .pos-container .pos-row .pos-dropdown {
  width: 30%;
  border: 1px solid #333333;
  padding: 0.2rem 1rem;
  font-size: 1.6rem;
  background-color: #f3f3ff;
}
.l-modifiers .pos-container .pos-row .pos-dropdown:focus {
  outline: none;
}
.l-modifiers .pos-container .pos-row .pos-dropdown:required:invalid {
  color: rgba(51, 51, 51, 0.5);
}
.l-modifiers .pos-container .pos-row .pos-dropdown option {
  color: #333333;
}
.l-modifiers .btn-container {
  display: flex;
  flex-flow: row;
  justify-content: start;
}
.l-modifiers #create-btn {
  background-color: #20d78d;
}
.l-modifiers #create-btn:hover {
  background-color: #171515;
}

.r-modifiers {
  grid-area: r-modifiers;
  padding: 1rem 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.r-modifiers .feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 0;
}
.r-modifiers .feedback-container #add-range-btn {
  background-color: #76e3e5;
}
.r-modifiers .feedback-container #add-range-btn:hover {
  background-color: #171515;
}
.r-modifiers .feedback-container h1 {
  margin: 0;
}
.r-modifiers .feedback-container .scale-title {
  color: #333333;
  margin-bottom: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container {
  margin-top: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  table-layout: fixed;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table tbody {
  width: 100%;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row {
  width: 100%;
  background-color: #b7b7b7;
  border: 1px solid rgba(51, 51, 51, 0.5);
  border-radius: 0.3rem;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row td {
  text-align: center;
  padding: 0 0.5rem;
  height: 100%;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .range-from {
  width: 5%;
  min-width: 6rem;
  padding-left: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .dash {
  width: 5%;
  min-width: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .range-to {
  width: 10%;
  min-width: 7rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .range-label {
  width: 70%;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range {
  width: 5%;
  min-width: 5rem;
  padding-right: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input[type=number], .r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input[type=text] {
  padding: 0 1rem;
  line-height: 3rem;
  background-color: #f3f3ff;
  border: 1px solid rgba(51, 51, 51, 0.5);
  color: #333333;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input[type=number]:focus, .r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input[type=text]:focus {
  outline: none;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input::-webkit-outer-spin-button,
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row input[type=number] {
  -moz-appearance: textfield;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .range-num-input {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .range-label-input {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn {
  cursor: pointer;
  border: none;
  background-color: #333333;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn .icon-bar:first-child,
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 2rem;
  background-color: #f3f3ff;
  border: none;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn .icon-bar:first-child {
  transform: rotate(45deg);
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn .icon-bar:last-child {
  transform: rotate(-45deg);
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn:hover {
  background-color: #f3f3ff;
  border: 0.2rem solid #333333;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn:hover .icon-bar:first-child,
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row .remove-range-btn:hover .icon-bar:last-child {
  background-color: #333333;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row.error-container {
  height: 7rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row.error-container td {
  margin-top: 1rem;
}
.r-modifiers .feedback-container .feedback-table-container .feedback-table .feedback-row.error-container .error {
  font-size: 1.2rem;
  color: #da0001;
  width: 40rem;
  margin-top: 1rem;
  position: relative;
  text-align: left;
}
.r-modifiers .feedback-container .btn-container {
  align-self: flex-start;
}
.r-modifiers .btn-container {
  display: flex;
  align-self: flex-end;
}
.r-modifiers #publish-btn {
  background-color: #F0A538;
  align-self: flex-end;
}
.r-modifiers #publish-btn:hover {
  background-color: #171515;
}

.about {
  min-height: 100vh;
  background-color: #434343;
}

footer {
  background-color: #171515;
  color: #f3f3ff;
  width: 100%;
  height: 5vh;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1600px) {
  .grid-wrapper {
    width: 75%;
  }
}
@media only screen and (max-width: 1024px) {
  .l-textbox {
    border: 0;
  }

  .generator {
    height: 100%;
    padding: 0;
  }

  .grid-wrapper {
    width: 100%;
    height: 100%;
  }

  .textbox {
    padding: 1rem 1rem;
    max-height: 50rem;
  }
}
@media only screen and (max-width: 768px) {
  p, label {
    font-size: 1.4rem;
  }

  .l-textbox,
.r-textbox {
    height: 100%;
  }

  .l-modifiers {
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    grid-area: l-modifiers;
    display: grid;
    padding: 1rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-row-gap: 1rem;
    grid-template-areas: "title-container" "desc-container" "age-container" "level-container" "pos-container" "btn-container";
  }
  .l-modifiers .text-input {
    font-size: 1.4rem;
  }
  .l-modifiers .title {
    font-size: 1.6rem;
  }
  .l-modifiers .title-container {
    width: 100%;
  }
  .l-modifiers .desc-container {
    width: 100%;
  }
  .l-modifiers .age-container .age-selection {
    width: 80%;
  }
  .l-modifiers .level-container .level-selection-adult.active,
.l-modifiers .level-container .level-selection-young.active {
    width: 80%;
  }
  .l-modifiers .pos-container {
    width: 100%;
  }
  .l-modifiers .pos-container .pos-row {
    flex-flow: row wrap;
  }

  .r-modifiers {
    padding: 1rem;
  }
  .r-modifiers .feedback-row.error-container .error {
    margin-left: -5rem;
  }
}

/*# sourceMappingURL=style.css.map */
